@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

html, body{
    height: 100%;
    width: 100%;
}

body{
    margin:0;
    background-image: url("../img/136.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

#app{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    height:100%;
}

@media (max-width: 1023px){
    body{
        background-position: center left;
    }

    #buttons{
        display:flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        margin-left: -20%;
        top: 50%;
        margin-top: 12.5%;
        flex-direction: column;
        transform: translateY(-87.5%);
    }

    .btn{
        font-size: 2.25em;
    }

    #hello__1 {
        display:none;
    }
    
    #hello__2 {
        display:none;
    }

    #links{
        display: flex;
        position: absolute;
        justify-content: center;
        bottom: 2.5%;
        height: 85px;
        width: auto;
        cursor:pointer;
    }

    .plate{
        margin:5px;
        width:75px;
        height: 75px;
        border-radius: 15px;
    }
}

@media (max-width: 450px){
    #buttons{
        margin-left: -28.5%;
        margin-top: 12.5%;
    }

    .btn{
        font-size: 1.5em;
    }

    .plate{
        margin:2.5px;
        width:65px;
        height: 65px;
        border-radius: 10px;
    }
}

@media (min-width: 1024px){
    body{
        background-position: 0% 0%;
    }

    #buttons{
        display:flex;
        position: absolute;
        bottom: 5%;
        transform: translateX(-10%) translateY(25%);
    }

    .btn{
        border-radius: 10px;
        font-size: 1.35em;
    }
    
    #hello__1 {
        font-size: 1.35em;
        transform: rotate(-14.5deg)  translateX(-3%) translateY(-10%);
    }
    
    #hello__2 {
        font-size: 1.35em;
        transform: rotate(14.5deg) translateX(-50%) translateY(325%);  
    }

    #links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left:0;
        height: auto;
        width: auto;
        cursor:pointer;
    }

    .plate{
        margin:1.5px;
        width:60px;
        height: 60px;
        border-radius: 15px;
    }

}

@media (min-width: 1150px){
    #buttons{
        transform: translateX(-30%) translateY(30%);
    }

    .btn{
        font-size: 1.40em;
    }

    #hello__1 {
        font-size: 1.40em;
        transform: rotate(-14.5deg)  translateX(-15%) translateY(-20%);
    }
    
    #hello__2 {
        font-size: 1.40em;
        transform: rotate(14.5deg) translateX(15%) translateY(40%);  
    }
}

@media (min-width: 1440px){
    #buttons{
        transform: translateX(-25%) translateY(20%);
    }

    .btn{
        font-size: 1.45em;
    }

    #hello__1 {
        font-size: 1.45em;
        transform: rotate(-14.5deg)  translateX(-10%) translateY(-15%);
    }
    
    #hello__2 {
        font-size: 1.45em;
        transform: rotate(14.5deg) translateX(5%) translateY(65%);  
    }

}

@media (min-width: 1680px){
    #buttons{
        transform: translateX(-30%) translateY(35%);
    }

    .btn{
        font-size: 1.7em;
    }

    #hello__1 {
        font-size: 1.6em;
        transform: rotate(-14.5deg)  translateX(-10%) translateY(-15%);
    }
    
    #hello__2 {
        font-size: 1.6em;
        transform: rotate(14.5deg) translateX(5%) translateY(70%);  
    }

    .plate{
        margin:2.5px;
        width:70px;
        height: 70px;
        border-radius: 17.5px;
    }
}

.btn{
    background: #e6e7e9;
    color:#111;
    border:2px solid #111;
    padding: 8px 17px;
    cursor: pointer;
    margin:1px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    font-family: 'Roboto', sans-serif;
}

.btn:hover{
    background: #f7f8f9;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,1);
    color:#222;
    border:2px solid #222;
    border-radius: 10px;
}

.btn:active{
    background: #d5d6d8;
    color:#000;
    border:2px solid #000;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
}

#copyright{
    position: absolute;
    bottom: 0;
    color: #111;
    font-size: small;
}

.exitClick{
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    color: black;
    cursor: pointer;
}
.facebook{
    background-color: #3b5998;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.facebook:hover{
    background-color: #4c6999;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}

.facebook:active{
    background-color: #2a4787;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);    
}

.gitHub{
    background-color: #211F1F;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.gitHub:hover{
    background-color: #322F2F;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}
.gitHub:active{
    background-color: #100E0E;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);      
}

h5.small{
    line-height:0.15px;
    font-style: italic;    
}

#hello{
    position: absolute;
    top: 5%;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
}

#hello__1 {
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 5px;
    width: auto;
    height: auto;
    font-family: 'Special Elite', cursive;
    line-height: 1.2;
}

#hello__2 {
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 5px;
    width: auto;
    height: auto;
    font-family: 'Special Elite', cursive;
    line-height: 1.2;
}

.instagram{
    background: radial-gradient(circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%),radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%);
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.instagram:hover{
    background: radial-gradient(circle at 25% 110%,#fef598 0,#fef598 5%,#fe6959 45%,#e7359f 60%,#396bfc 90%),radial-gradient(circle at 25% 110%,#c9b911 0,#949611 5%,#c21f11 45%,#9d1172 60%,#113db9 90%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}
.instagram:active{
    background: radial-gradient(circle at 25% 110%,#ece386 0,#ece386 5%,#ec4838 45%,#c5138e 60%,#184ada 90%),radial-gradient(circle at 25% 110%,#a8a700 0,#827400 5%,#a00e00 45%,#7b0050 60%,#001ba8 90%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);      
}

.linkedIn{
    background-color: #006192;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.linkedIn:hover{
    background-color: #117293;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}

.linkedIn:active{
    background-color: #005081;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);   
}

#modals{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.modals__window{
    background: #eff0ef;
    position: relative;
    height: auto;
    max-width:500px;
    border-radius: 16px;
    padding: 20px;
    text-align: left;
    text-justify: auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-family: 'Roboto', sans-serif;
}

p.small {
    line-height:0.5px;
  }

p.info{
    font-size: smaller;
    line-height:0.15px;
    font-style: italic;    
}

.twitter{
    background-color: #1da1f2;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.twitter:hover{
    background-color: #2eb2f3;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);      
}

.twitter:active{
    background-color: #0ca0e1;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05); 
}

.window__header{
    margin: 0;
    font-size: 2.1em;
}

.window__content{
    color: #333;
    line-height: 1.32;
    font-style: italic;
}