html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
    background-image: url("../img/spaceTravel.jpg");
    background-size: cover;
}

#app{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}

.btn{
    background: transparent;
    color:#eee;
    border:2px solid #eee;
    padding: 8px 17px;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin:1px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
.btn:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,1);
    color:#fff;
    border:2px solid #fff;
    border-radius: 10px;
}

.btn:active{
    color:#ddd;
    border:2px solid #ddd;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
}

#buttons{
    display:flex;
    position: absolute;
    bottom: 11%;
    background:transparent;
}

#copyright{
    position: absolute;
    bottom: 0;
    color: #eee;
    font-size: small;
}

.exitClick{
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    color: black;
    cursor: pointer;
}
.facebook{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #3b5998;
    border-radius: 15px;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.facebook:hover{
    background-color: #4c6999;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}

.facebook:active{
    background-color: #2a4787;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);    
}

.gitHub{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #211F1F;
    border-radius: 15px;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.gitHub:hover{
    background-color: #322F2F;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}
.gitHub:active{
    background-color: #100E0E;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);      
}

h5.small{
    line-height:0.15px;
    font-style: italic;    
}

.instagram{
    margin:5px;
    width:75px;
    height: 75px;
    background: radial-gradient(circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%),radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%);
    border-radius: 15px;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.instagram:hover{
    background: radial-gradient(circle at 25% 110%,#fef598 0,#fef598 5%,#fe6959 45%,#e7359f 60%,#396bfc 90%),radial-gradient(circle at 25% 110%,#c9b911 0,#949611 5%,#c21f11 45%,#9d1172 60%,#113db9 90%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}
.instagram:active{
    background: radial-gradient(circle at 25% 110%,#ece386 0,#ece386 5%,#ec4838 45%,#c5138e 60%,#184ada 90%),radial-gradient(circle at 25% 110%,#a8a700 0,#827400 5%,#a00e00 45%,#7b0050 60%,#001ba8 90%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);      
}

.linkedIn{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #006192;
    border-radius: 15px;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.linkedIn:hover{
    background-color: #117293;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}

.linkedIn:active{
    background-color: #005081;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);   
}

#links{
    position: absolute;
    left:0;
    height: 415px;
    width: 85px;
    background-color: black;
    background: transparent;
    cursor:pointer;
}

#modals{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.modals__window{
    background: #eff0ef;
    position: relative;
    height: 500px;
    width:500px;
    border-radius: 16px;
    padding: 20px;
    text-align: left;
    text-justify: inter-word;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

p.small {
    line-height:0.5px;
  }

p.info{
    font-size: smaller;
    line-height:0.15px;
    font-style: italic;    
}

.twitter{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #1da1f2;
    border-radius: 15px;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.twitter:hover{
    background-color: #2eb2f3;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);      
}

.twitter:active{
    background-color: #0ca0e1;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05); 
}

.window__header{
    margin: 0;
    font-size: 2.1em;
}

.window__content{
    color: #333;
    line-height: 1.32;
    font-style: italic;
}