html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
}

#app{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    background-image: url("../img/spaceTravel.jpg");
}

.btn{
    background: transparent;
    color:#fff;
    border:2px solid #fff;
    padding: 8px 17px;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin:0.5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
.btn:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0.50);
    color:#F0F0F0;
    border:2px solid #F0F0F0;
}

#buttons{
    display:flex;
    position: absolute;
    bottom: 12.5%;
}

.exitClick{
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    color: black;
    cursor: pointer;
}
.facebook{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #3b5998;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.facebook:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}
.gitHub{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #211F1F;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.gitHub:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}

.gplus{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #dd4b39;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}

.gplus:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);      
}

.linkedIn{
    margin:5px;
    width:75px;
    height: 75px;
    background-color: #006192;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    cursor:pointer;
}
.linkedIn:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);    
}

#links{
    position: absolute;
    left:0;
    height: 325px;
    width: 75px;
    background-color: black;
    background: transparent;
    cursor:pointer;
}

.modal{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.modal__window{
    background: #f0f0f0;
    position: relative;
    height: 750px;
    width:500px;
    border-radius: 16px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.window__header{
    margin: 0;
    font-size: 2.1em;
}

.window__content{
    color: #333;
    line-height: 1.32;
}